/* 
COLORS
- Off-white: #f9f9f9 (lighter)
- Off-white: #f1f0ed (darker)
- Blue: rgb(24, 24, 115)
*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    width: 100vw;

    /* color: #0b294f; */
    /* background-color: #f1f0ed; */
}

#title {
    margin-left: 1.5vw;
    font-weight: 200;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    margin: 0px;
    /* display: flex; */

    background-color: #f1f0ed;
}

/* ///////////////////////////////// */
/* /////////// NAV BAR ///////////// */
/* ///////////////////////////////// */

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navBar {
    font-size: 1.2em;

    display: flex;

    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    text-align: center;

    /* color: #0b294f; */

    border-radius: 10px;

    transition: all .3s ease-in-out;
}

.navLink {
    transition: all .3s ease-in-out;
}

.navBar:hover {
    transform: scale(1.1);
    color: grey;
}

/* ///////////////////////////////// */
/* ////////// DROP DOWN //////////// */
/* ///////////////////////////////// */

.dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
}

.dropbtn {
    text-decoration: none;
}

.dropContent {
    display: none;
    position: absolute;

    /* background-color: #f9f9f9; */
    background-color: #f1f0ed;

    min-width: 4vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropContent .navBar {
    /* color: black; */
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropContent .navBar:hover {
    /* background-color: lightgray; */
    /* transform: scale(1.1); */
}

.dropdown:hover .dropContent {
    display: block;
    /* transform: scale(1.1); */
}

/* BACKGROUND FOR DROPDOWN BUTTON */
.dropdown:hover .dropbtn {
    /* background-color: #f9f9f9; */
}

a {
    font-weight: 400;
    color: black;
    text-decoration: none;
}

/* ///////////////////////////////// */
/* ////////// HOME PAGE //////////// */
/* ///////////////////////////////// */

.coverPhoto {
    width: 100vw;
    height: 88vh;
    object-fit: cover;
    padding: 0px;
}

.centeredTitle {
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 5em;
    font-weight: 200;
    /* word-wrap:break-word; */

    text-align: center;
}

.centeredDescription {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 1.1em;
    font-weight: 400;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    border: 2px solid;

    width: 100px;

    transition: all 0.5s ease-in-out;
}

.centeredDescription:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;

    box-shadow: inset 200px 0 0 0 lightgrey;
}

/* ///////////////////////////////// */
/* //////////// ABOUT ////////////// */
/* ///////////////////////////////// */

#aboutContainer {
    padding-top: 25vh;
    padding-bottom: 25vh;

    text-align: center;
}

.aboutTitle {
    font-size: 3em;
    font-weight: 200;
}

.aboutDescription {
    font-size: 1.2em;
    font-weight: 100;

    margin-left: 15vw;
    margin-right: 15vw;
}

.backgroundInfoLink {
    color: black;

    font-size: 1.1em;
    font-weight: 400;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    border: 2px solid;

    width: 100px;

    transition: all 0.5s ease-in-out;
}

.backgroundInfoLink:hover {
    /* background-color: rgb(24, 24, 115);
    border-color: rgb(24, 24, 115); */
    background-color: black;
    border-color: black;
    color: #f1f0ed;
}

/* ///////////////////////////////// */
/* ///////////// INFO ////////////// */
/* ///////////////////////////////// */

.infoContainer {
    background-color: rgb(24, 24, 115);
    color: #f1f0ed;

    padding-bottom: 10vh;

    text-align: center;
}

.infoTitle {
    text-align: center;

    padding-top: 10vh;

    font-size: 3em;
    font-weight: 300;
}

.infoContent {
    font-size: 1.2em;
    font-weight: 100;

    margin-left: 10vw;
    margin-right: 10vw;

    margin-bottom: 10vh;
}

.slideItem {
    /* background-color: #f1f0ed; */
    background-color:rgb(52, 52, 191);
    /* color: black; */

    margin-left: 13vw;
    margin-right: 13vw;

    padding-top: 5vh;
    padding-bottom: 5vh;

    border-radius: 20px;
}

.infoSub {
    text-align: center;

    font-size: 2em;
    font-weight: 200;
}

.infoDescription {
    margin-left: 10vw;
    margin-right: 10vw;

    font-size: 1.5em;
    font-weight: 100;
}

.linkButton {
    color: #f1f0ed;

    font-size: 1.1em;
    font-weight: 400;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    border: 2px solid;

    width: 100px;

    transition: all 0.5s ease-in-out;
}

.linkButton:hover {
    background-color: #f1f0ed;
    border-color: #f1f0ed;
    /* color: rgb(24, 24, 115); */
    color: rgb(24, 24, 115);

    box-shadow: inset 200px 0 0 0 #f1f0ed;
}

/* ///////////////////////////////// */
/* ////////// TIME TRAVEL ////////// */
/* ///////////////////////////////// */

.ttContainer {
    background-color: #f1f0ed;
    color: black;

    padding-bottom: 20vh;

    text-align: center;
}

.ttTitle {
    text-align: center;

    padding-top: 10vh;
    padding-bottom: 5vh;

    font-size: 3em;
    font-weight: 300;
}

.ttDescription {
    margin-left: 18vw;
    margin-right: 18vw;

    font-size: 1.5em;
    font-weight: 100;
}

.ttLink {
    color: black;

    font-size: 1.1em;
    font-weight: 400;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    border: 2px solid;

    width: 100px;

    transition: all 0.5s ease-in-out;
}

.ttLink:hover {
    background-color: rgb(24, 24, 115);
    border-color: rgb(24, 24, 115);
    color: #f1f0ed;
}

/* ///////////////////////////////// */
/* /////////// BACKGROUND ////////// */
/* ///////////////////////////////// */

.centeredTitleB {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 5em;
    font-weight: 200;
    /* word-wrap:break-word; */

    text-align: center;
}

.backgroundContainer {
    margin-top: 15vh;
    /* padding-bottom: 15vh; */
}

.backgroundItem {
    padding-bottom: 7vh;
}

.backgroundTitle {
    font-size: 3em;
    font-weight: 200;

    text-align: center;
}

.backgroundDescription {
    font-size: 1.2em;
    font-weight: 100;

    margin-left: 15vw;
    margin-right: 15vw;
}

.backgroundPhoto {
    display: block;

    max-width: 50vw;

    margin-left: auto;
    margin-right: auto;

    margin-top: 5vh;
    margin-bottom: 5vh;

    border: 2px solid;
}

.premiseContainer {
    /* display: inline-block; */

    margin-left: auto;
    margin-right: auto;

    width: 50%;

    /* border: 2px solid; */
}

.premise {
    font-size: 1.2em;
    font-weight: 100;

    /* max-width: auto; */
}